.popup__container {
  background-color: #ffffff;
  width: 430px;
  height: 330px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
}
